body,
h1,
h2,
h3,
p,
a,
button,
li,
ul {
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  display: grid;
  place-items: center;
  background-color: #ffffff;
}

.calculator {
  color: #ffffff;
  font-size: 3.8rem;
  display: grid;
  background: #28282b;
  padding: 24px;
  margin-top: 80px;
  border-radius: 4px;
}

.output {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
}

.output-operations {
  display: inline-block;
  position: absolute;
  left: 0px;
  font-size: 1.8rem;
  color: rgba(9, 255, 140, 0.61);
}

.output-result {
  display: inline-block;
  position: absolute;
  right: 0px;
}

.math-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.math-numbers {
  border: none;
  text-align: center;
  padding: 8px;
  background-color: #00ff7356;
  color: #ffffff;
  font-size: 3.8rem;
  border-radius: 4px;
  transition: 0.25s;
}

.math-numbers:hover {
  background-color: #00ff737e;
}

.math-operators {
  border: none;
  text-align: center;
  padding: 8px;
  background-color: #00ff739f;
  color: #ffffff;
  font-size: 3.8rem;
  border-radius: 4px;
  transition: 0.25s;
}

.math-operators:hover {
  background-color: #00ff73c0;
}

#calc {
  grid-column: 2 / 5;
}
